* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    min-width: 375px;
    height: 100vh;
}

header {
    height: 80px;
}

main {
    height: 70vh;
    color: white;
}

img {
    width: 100%;
}

h1 {
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;  
}
p {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    display: block;
    margin: 40px  auto;
    padding: 10px 40px;
    font-size: 10px;
    border-radius: 20px;
    border: none;
    color: hsl(257, 40%, 49%);
    background-color: white;
}

footer {
    height: 25vh;
    text-align: center;
}

.bg {
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  height: 60px;
  margin-left: 40px;
  margin-top: 20px;
}


.left {
    margin-left: 40px;
    width: 80%;
    height: 50%;
}

.right {
    width: 300px;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
}
.fab {
    margin: 80px 5px;
    font-size: 30px;
    color: white;
}

button:hover {
    cursor: pointer;
}

@media (min-width:992px) {
    body {
        background-image: url(../img/bg-desktop.svg);
        background-repeat: no-repeat;
    }

    header {
        margin-top: 50px;
    }

    main {
        height: 500px;
    }

    img {
        width: 100%;
    }

    h1 {
        font-size: 35px;
        margin-top: 40px;
        margin-left: 30px;
        padding-right: 100px;
        text-align: left;
    }
    p {
        margin-left: 30px;
        font-size: 20px;
        font-weight: thin;
        line-height: 1.8;
        text-align: left;
        padding-right: 50px;
    }

    button {
        font-size: 20px;
        font-weight: 300;
        margin-top: 30px;
        letter-spacing: 1px;
        margin-left: 30px;
        padding: 15px 60px;
        border-radius: 25px;
    }

    footer {
        height: 200px;
        margin-top: 20px;
        margin-right: 80px;
        text-align: right;
    }
    .bg {
        height: 100px;
        background-size: 300px;
    }

    .left {
        float: left;
        width: 45%;
    }

    .right {
        float: right;
        width: 45%;
    }

    button:hover {
        cursor: pointer;
    }

}

